<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro Tipo Usuário</title>
        <link rel="stylesheet" href="../css/tipoUsuario.css">
    </head>
    <body>
        <div>
            <fieldset class="fieldsetTipoUsuario">
                <h2 class="titulo"><b>Cadastro Tipo Usuário</b></h2>
                <hr>
                <form method="post" action="../model/cadastroTipoUsuario.php">
                    <label for="codigoTipoUsuario">Código: </label><br/><input type="number" min="1" max="10" id="codigoTipoUsuario" name="codigoTipoUsuario"/><br/><br/>
                    <label for="descricaoTipoUsuario">Descrição: </label><br/><input id="descricaoTipoUsuario" name="descricaoTipoUsuario"/><br/><br/><br/>
                    <input type="submit" value="Cadastrar" class="botao">
                    <input type="button" value="Listar" class="botao" onclick="location.href = '../model/listarTipoUsuario.php'"/>
                    <input type="button" value="Voltar" class="botao" onclick="location.href = 'inicioAdministrador.html'">
                </form>
            </fieldset>
        </div>
    </body>
</html>
