<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Sistema de Gerenciamento Acadêmico</title>
    <!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="../csss/materialize.css">
    <link rel="stylesheet" href="../csss/custom.css">

</head>
<body class="#37474f blue-grey darken-3">

<div class="valign-wrapper container row formulario">
    <div class="col s8 offset-s3 card center-align card-content #eceff1 blue-grey lighten-5">
        <h2>Cadastro Usuário</h2>

        <form method="POST" action="../model/cadastroUsuario.php">

        <div class="row input-field col s6 left-align">
            <input type="text" id="codigoUsuario" name="codigoUsuario">
            <label for="codigoUsuario">Codigo</label>
        </div>

        <div class="row input-field col s6 left-align">
        <input id="codigoTipoUsuario" type="number" min="1" max="3" name="codigoTipoUsuario" class="validate">
        <label for="codigoTipoUsuario">Tipo</label>
        </div>

        <div class="row input-field col s12 left-align">
            <input type="text" id="usuarioLogin" name="usuarioLogin">
            <label for="usuarioLogin">Login</label>
        </div>

         <div class="row input-field col s12 left-align">
        <input id="senha" type="password" name="senha" class="validate">
        <label for="senha">Senha</label>
         </div>

        <div class="row input-field col s12 left-align">
        <input id="confirmarSenha" type="password" name="confirmarSenha" class="validate">
        <label for="confirmarSenha">Confirmar</label>
         </div>

        <div class="row col s4 left-align">
        <button class="btn waves-effect waves-ligth" type="submit" name="entrar">
         Cadastrar  
        </button>
        </div>
        <div class="row col s4 left-align">
        <a class="btn waves-effect waves-light" href="../view/login.html">Voltar</a>
        </div>

        <br>
        </form>
    </div>
</div>

<!-- Materialize JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Materialize JS -->
<script src="../js/materialize.js"></script>

<!--Script para Funcionamento do Option e do Date -->
<script>
    $(document).ready(function(){
        $('select').material_select();
        $('.datepicker').pickadate();
    });
</script>

</body>
</html>
