<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Sistema de Gerenciamento Acadêmico</title>
	<!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Materialize CSS -->
	<link rel="stylesheet" href="../csss/materialize.css">
	<link rel="stylesheet" href="../csss/custom.css">
</head>
<body class="#37474f blue-grey darken-3">
<div class="valign-wrapper" id="login-page">
	<div class="container">
		<div class="center-align">
			<div class="row">
				<div class="col s6 offset-s3">
					<div class="card">
						<div class="login">
							<div class="card-content">
								<img class="responsive-img" src="../img/logo.png" style="max-width: 150px;">
								  <div class="row">
								    <form class="col s12">
								      <div class="row">
								        <div class="input-field col s6">
								          <i class="material-icons prefix">account_circle</i>
								          <input id="icon_prefix" type="text" class="validate">
								          <label for="icon_prefix">First Name</label>
								  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Materialize JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Materialize JS -->
<script src="js/materialize.js"></script>
</body>
</html>