<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Sistema de Gerenciamento Acadêmico</title>
	<!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Materialize CSS -->
	<link rel="stylesheet" href="../csss/materialize.css">
	<link rel="stylesheet" href="../csss/custom.css">
</head>
<body class="#37474f blue-grey darken-3 login">

<div class="valign-wrapper container row">
	<div class="col s6 offset-s3 card center-align card-content #eceff1 blue-grey lighten-5">
	<img class="responsive-img" src="../img/logo.png" style="max-width: 150px;">

		<form method="POST" action="../model/login.php" id="formlogin">

	    <div class="row input-field col s12 left-align">
        <input id="usuarioLogin" type="email" name="usuarioLogin" class="validate">
        <label for="usuarioLogin">Email</label>
        </div>

        <div class="row input-field col s12 left-align">
        <input id="senha" type="password" name="senha" class="validate">
        <label for="senha">Senha</label>
        </div>

        <div class="center-align btnform">
        <button class="btn waves-effect waves-ligth" type="submit" name="entrar">
    	 Entrar	
        </button>

        <a class="btn waves-effect waves-light" href="../view/cadastroUsuario.html">Cadastre - Se</a>

        </div>
        <br>
        </form>
	</div>
</div>
				<!--
                <form method="post" action="..\model\login.php" id="formlogin">
                    <label for="usuarioLogin">Login </label><br/><input type="text" name="usuarioLogin" id="usuarioLogin" class="inputs" placeholder="Informe seu login"/><br/><br/>
                    <label for="senha">Senha </label><br/><input type="password" name="senha" id="senha" class="inputs" placeholder="Informe sua senha"/><br/><br/><br/>
                    <input type="submit" value="Entrar" class="btnlg" name="entrar"/>
                    <input type="button" value="Cadastre-se" class="btnlg" onclick="location.href = 'cadastroUsuario.html'"/>
                </form>
                -->

<!-- Materialize JS -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Materialize JS -->
<script src="../js/materialize.js"></script>
</body>
</html>