<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Tela Inicial Administrador</title>
        <link rel="stylesheet" href="../css/inicioUsuarios.css">
    </head>
    <body>
        <div>
            <h2>Índice:</h2>
            <ul>
                <li><a href='cadastroAluno.html'><b>Formulário para cadastro de alunos</b></a><br/></li>
                <li><a href='cadastroTipoUsuario.html'><b>Formulário para cadastro de tipos de usuários</b></a></li>
            </ul>
            <br/>
            <a href='login.html'><input type='button' value='Sair' class="botao"/></a>		
        </div>
    </body>
</html>
